@model IEnumerable<DataAccess.Models.Dto.CourseDetailDTO>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">CourseDetail List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="CourseDetail" asp-action="CreateCourseDetail" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Create New Course</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    CourseName
                </th>
                <th>
                    CourseDescription
                </th>
                <th>
                    StartDate
                </th>
                <th>
                    EndDate
                </th>
                <th>
                    AvailableSeats
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CourseName</td>
                    <td>@item.CourseDescription</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>@item.AvailableSeats</td>

                    <td>
                        <a asp-controller="CourseDetail" asp-action="UpdateCourseDetail" asp-route-coursedetailId="@item.Id" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="CourseDetail" asp-action="DeleteCourseDetail" asp-route-coursedetailId="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></a>


                    </td>

                </tr>
            }
        </tbody>




    </table>
</div>