@model IEnumerable<DataAccess.Models.CourseDetail>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">CourseDetail List</h1>
        </div>
       
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    CourseName
                </th>
                <th>
                    CourseDescription
                </th>
                <th>
                    StartDate
                </th>
                <th>
                    EndDate
                </th>
                <th>
                    AvailableSeats
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CourseName</td>
                    <td>@item.CourseDescription</td>
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    <td>@item.AvailableSeats</td>

                    <td>
                       
                        <a asp-controller="CourseDetail" asp-action="Reject" asp-route-Id="@item.Id" class="btn btn-outline-primary"> Reject</a>
                        <a asp-controller="CourseDetail" asp-action="Approve" asp-route-Id="@item.Id" class="btn btn-outline-primary"> Approve</a>
                    </td>

                </tr>
            }
        </tbody>




    </table>
</div>